*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f8f9fa;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80vmin;
  height: 80vmin;
}

/* KIRBY */

.head {
  position: absolute;
  top: 15vmin;
  width: 50vmin;
  height: 50vmin;
  border-radius: 100%;
  background: rgb(252,197,218);
  background: radial-gradient(circle, rgba(252,197,218,1) 0%, rgb(249, 139, 153) 100%);

  /* border: 1vmin solid black; */
}

.eye-r {
  position: absolute;
  top: 9vmin;
  left: 15vmin;
  background-color: blue;
  border: 0.7vmin solid black;
  height: 13vmin;
  width: 5.5vmin;
  border-radius: 90%;
}

.eye-r::before {
  content: '';
  position: absolute;
  top: 0vmin;
  left: -0.2vmin;
  background-color: black;
  width: 4.5vmin;
  height: 10vmin;
  border-radius: 100%;
}


.eye-r::after {
  content: '';
  position: absolute;
  left: 0.5vmin;
  background-color: white;
  width: 2.8vmin;
  height: 4vmin;
  border-radius: 100%;
}

.eye-l {
  position: absolute;
  top: 9vmin;
  right: 15vmin;
  background-color: blue;
  border: 0.7vmin solid black;
  height: 13vmin;
  width: 5.5vmin;
  border-radius: 90%;
}


.eye-l::before {
  content: '';
  position: absolute;
  top: 0vmin;
  right: -0.2vmin;
  background-color: black;
  width: 4.5vmin;
  height: 10vmin;
  border-radius: 100%;
}


.eye-l::after {
  content: '';
  position: absolute;
  right: 0.5vmin;
  background-color: white;
  width: 2.8vmin;
  height: 4vmin;
  border-radius: 100%;
}

.cheeks {
  position: absolute;
  top: 22vmin;
  left: 7vmin;
  background-color: #F988BE;
  height: 3vmin;
  width: 6vmin;
  border-radius: 90%;

  box-shadow: 30vmin 0 #F988BE;
}

.mouth {
  position: absolute;
  width: 5vmin;
  height: 4vmin;
  top: 20vmin;
  right: 22.5vmin;
  border-radius: 50%;
  background: transparent;
  border-bottom: 1vmin solid #000;
}

.hand-r {
  position: absolute;
  top: 34.9vmin;
  left: 55vmin;
  width: 18vmin;
  height: 15vmin;
  border-radius: 90%;
  transform: rotate(50deg);
  background-color: #F98B99;
  /* border: 1vmin solid black; */
}

.hand-l {
  position: absolute;
  top: 34.9vmin;
  right: 55vmin;
  width: 18vmin;
  height: 15vmin;
  border-radius: 90%;
  transform: rotate(-50deg);
  background-color: #F98B99;
  /* border: 1vmin solid black; */
}

.foot-r {
  position: absolute;
  top: 57vmin;
  right: 45vmin;
  width: 22vmin;
  height: 15vmin;
  border-radius: 80%;
  transform: rotate(-10deg);
  background: rgb(238,111,122);
  background: radial-gradient(circle, rgba(238,111,122,1) 0%, rgba(222,80,95,1) 100%);
  /* border: 1vmin solid black; */
}

.foot-l {
  position: absolute;
  top: 57vmin;
  left: 45vmin;
  width: 22vmin;
  height: 15vmin;
  border-radius: 80%;
  transform: rotate(10deg);
  background: rgb(238,111,122);
  background: radial-gradient(circle, rgba(238,111,122,1) 0%, rgba(222,80,95,1) 100%);
  /* border: 1vmin solid black; */
}

.shadow {
  position: absolute;
  top: 66vmin;
  left: 6.65vmin;
  background: #000;
  opacity: 0.1;
  width: 66vmin;
  height: 8vmin;
  border-radius: 50%;
}

